name: Content Validation
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - name: Content Validator
        id: validator
        uses: ./
        with:
          myInput: "."